/* Utilities for any styling concerning the box model */

/* Borders */
.border-dark {
	border-color: var(--color-dark);
}

.border-light {
	border-color: var(--color-light);
}
 
.border-primary {
	border-color: var(--color-primary);
}

.border-secondary {
	border-color: var(--color-secondary);
}

.border-tertiary {
	border-color: var(--color-tertiary);
}

.border-success {
	border-color: var(--color-success);
}

.border-warning {
	border-color: var(--color-warning);
}

.border-error {
	border-color: var(--color-error);
}

.border-accent {
	border-color: var(--color-accent);
}

.border-solid {
	border-style: solid;
}

.border-dotted {
	border-style: dotted;
}

.border-dashed {
	border-style: dashed;
}
 
.border-sm {
	border-width: 1px;
}

.border-md {
	border-width: 3px;
}

.border-lg {
	border-width: 5px;
}


/* Border Radius */
.radius-sm {
	border-radius: var(--radius-sm);
}

.radius-md {
	border-radius: var(--radius-md);
}

.radius-lg {
	border-radius: var(--radius-lg);
}

.radius-0 {
	border-radius: 0;
}


/* Box Shadows */
.shadow-xs {
	box-shadow: var(--shadow-xs);
}

.shadow-sm {
	box-shadow: var(--shadow-sm);
}

.shadow-md {
	box-shadow: var(--shadow-md);
}

.shadow-lg {
	box-shadow: var(--shadow-lg);
}

.shadow-xl {
	box-shadow: var(--shadow-xl);
}

.shadow-none {
	box-shadow: none;
}


/* Margins */
.margin-xxxxs {
	margin: var(--space-xxxxs);
}

.margin-xxxs {
	margin: var(--space-xxxs);
}

.margin-xxs {
	margin: var(--space-xxs);
}

.margin-xs {
	margin: var(--space-xs);
}

.margin-sm {
	margin: var(--space-sm);
}

.margin-md {
	margin: var(--space-md);
}

.margin-lg {
	margin: var(--space-lg);
}

.margin-xl {
	margin: var(--space-xl);
}

.margin-xxl {
	margin: var(--space-xxl);
}

.margin-xxxl {
	margin: var(--space-xxxl);
}

.margin-xxxxl {
	margin: var(--space-xxxxl);
}


/* Padding */
.padding-xxxxs {
	padding: var(--space-xxxxs);
}

.padding-xxxs {
	padding: var(--space-xxxs);
}

.padding-xxs {
	padding: var(--space-xxs);
}

.padding-xs {
	padding: var(--space-xs);
}

.padding-sm {
	padding: var(--space-sm);
}

.padding-md {
	padding: var(--space-md);
}

.padding-lg {
	padding: var(--space-lg);
}

.padding-xl {
	padding: var(--space-xl);
}

.padding-xxl {
	padding: var(--space-xxl);
}

.padding-xxxl {
	padding: var(--space-xxxl);
}

.padding-xxxxl {
	padding: var(--space-xxxxl);
}