/* Utilities for colors on the webpage */

/* Backdrop Blur */
.backdrop_blur-10 {
	webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.backdrop_blur-20 {
	webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}


/* Backgrounds */

.bg-dark {
	background-color: var(--color-main-black);
}

.bg-light {
	background-color: var(--color-main-white);
}

.bg-gray {
	background-color: var(--color-main-gray);
}

.bg-primary {
	background-color: var(--color-main-primary);
}

.bg-secondary {
	background-color: var(--color-main-secondary);
}

.bg-tertiary {
	background-color: var(--color-main-tertiary);
}

.bg-transparent {
	background-color: transparent;
}

.bg-0 {
	opacity: 0;
}

.bg-success {
	background-color: var(--color-system-success);
}

.bg-warning {
	background-color: var(--color-system-warning);
}

.bg-error {
	background-color: var(--color-system-error);
}

.bg-accent {
	background-color: var(--color-system-accent);
}


/* Colors */
.color-dark {
	color: var(--color-main-black);
}

.color-light {
	color: var(--color-main-white);
}

.color-primary {
	color: var(--color-main-primary);
}

.color-secondary {
	color: var(--color-main-secondary);
}

.color-tertiary {
	color: var(--color-main-tertiary);
}

.color-transparent {
	color: transparent;
}

.color-success {
	color: var(--color-system-success);
}

.color-warning {
	color: var(--color-system-warning);
}

.color-error {
	color: var(--color-system-error);
}

.color-accent {
	color: var(--color-system-accent);
}


/* Fills (for svgs) */
.fill-dark {
	fill: var(--color-main-black);
}

.fill-light {
	fill: var(--color-main-white);
}

.fill-primary {
	fill: var(--color-main-primary);
}