/* Background */
.bg-fixed {
	background-attachment: fixed;
}

.bg-local {
	background-attachment: local;
}

.bg-scroll {
	background-attachment: scroll;
}

.bg-clip-text {
	background-clip: text;
}

.bg-bottom {
	background-position: bottom;
}

.bg-center {
	background-position: center;
}

.bg-left {
	background-position: left;
}

.bg-left-bottom	{
	background-position: left bottom;
}

.bg-left-top {
	background-position: left top;
}

.bg-right {
	background-position: right;
}

.bg-right-bottom {
	background-position: right bottom;
}

.bg-right-top {
	background-position: right top;
}

.bg-top {
	background-position: top;
}

.bg-repeat-none {
	background-repeat: no-repeat;
}

.bg-repeat-x {
	background-repeat: repeat-x;
}

.bg-repeat-y {
	background-repeat: repeat-y;
}

.bg-repeat {
	background-repeat: repeat;
}

.bg-repeat-space {
	background-repeat: space;
}

.bg-repeat-round {
	background-repeat: round;
}

.bg-auto {
	background-size: auto;
}

.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-none {
	background-image: none;
}

.bg-gradient-t {
	background-image: linear-gradient(to top, var(--gradient));
}

.bg-gradient-tr {
	background-image: linear-gradient(to top right, var(--gradient));
}

.bg-gradient-r {
	background-image: linear-gradient(to right, var(--gradient));
}

.bg-gradient-br {
	background-image: linear-gradient(to bottom right, var(--gradient));
}

.bg-gradient-b {
	background-image: linear-gradient(to bottom, var(--gradient));
}

.bg-gradient-bl {
	background-image: linear-gradient(to bottom left, var(--gradient));
}

.bg-gradient-l {
	background-image: linear-gradient(to left, var(--gradient));
}

.bg-gradient-tl {
	background-image: linear-gradient(to top left, var(--gradient));
}