.hover-bg-dark:hover, .hover-bg-dark:focus {
	background-color: var(--color-dark);
}

.hover-bg-light:hover, .hover-bg-light:focus {
	background-color: var(--color-light);
}

.hover-bg-primary:hover, .hover-bg-primary:focus {
	background-color: var(--color-primary);
}

.hover-bg-secondary:hover, .hover-bg-secondary:focus {
	background-color: var(--color-secondary);
}

.hover-bg-tertiary:hover, .hover-bg-tertiary:focus {
	background-color: var(--color-tertiary);
}

.hover-color-dark:hover, .hover-color-dark:focus {
	color: var(--color-dark);
}

.hover-color-light:hover, .hover-color-light:focus {
	color: var(--color-light);
}

.hover-color-primary:hover, .hover-color-primary:focus {
	color: var(--color-primary);
}

.hover-color-secondary:hover, .hover-color-secondary:focus {
	color: var(--color-secondary);
}

.hover-color-tertiary:hover, .hover-color-tertiary:focus {
	color: var(--color-tertiary);
}