@font-face {
	src: url("../fonts/Lato-Regular.ttf");
	font-family: Lato-Regular;
}

@font-face {
	src: url("../fonts/Lato-Bold.ttf");
	font-family: Lato-Bold;
}

:root {
	/* FONTS */
	--font-primary: "Lato-Regular", sans-serif;
	--font-secondary: "Lato-Bold", sans-serif;
}

html, body {
	background: #131316;
	color: #fff;
	height: 100%;
	margin: 0;
}

.icon {
	height: 30px;
}

.nav-logo {
	height: 24px;
	margin-top: 2rem;
}

.banner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 4px #131316 solid;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: -5px -5px 22px #177EFE, 5px 5px 22px #70E5FF;
	text-align: center;
}

/*.card p {
	background: -webkit-linear-gradient(315deg, #177EFE, #70E5FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/

.card-header {
	font-family: var(--font-primary);
	font-size: 42px;
	font-weight: bold;
	background: -webkit-linear-gradient(315deg, #177EFE, #70E5FF), linear-gradient(315deg, #177EFE, #70E5FF), #177EFE;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gold-word {
	text-shadow: 0px 0px 0px #FFD700;
}

.card-des {
	font-family: var(--font-secondary);
	font-size: 16px;
	color: #242429;
	/*background: -webkit-linear-gradient(315deg, #D5A224, #FFD700 95%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	font-size: 10px;
	font-family: var(--font-secondary);
}

.footer-icon {
	height: 14px;
}

@media (min-width: 900px) {
	.nav-logo {
		height: 28px;
	}

	.card-header {
		font-size: 50px;
	}

	footer {
		flex-direction: row;
		gap: 1rem;
		font-size: 12px;
	}
}