/* Utilities for any styling concerning the box model */

/* Border Positions */
.border {
	border: var(--border-width) var(--border-style) var(--border-color);
}

.border-b {
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.border-t {
	border-top: var(--border-width) var(--border-style) var(--border-color);
}

.border-l {
	border-left: var(--border-width) var(--border-style) var(--border-color);
}

.border-r {
	border-right: var(--border-width) var(--border-style) var(--border-color);
}

.border-tb {
	border-top: var(--border-width) var(--border-style) var(--border-color);
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.border-lr {
	border-left: var(--border-width) var(--border-style) var(--border-color);
	border-right: var(--border-width) var(--border-style) var(--border-color);
}

/* Border Colors */
.border-none {
	border: none;
}

.border-dark {
	--border-color: var(--color-dark);
}

.border-light {
	--border-color: var(--color-light);
}

.border-primary {
	--border-color: var(--color-primary);
}

.border-secondary {
	--border-color: var(--color-secondary);
}

.border-tertiary {
	--border-color: var(--color-tertiary);
}

.border-success {
	--border-color: var(--color-success);
}

.border-warning {
	--border-color: var(--color-warning);
}

.border-error {
	--border-color: var(--color-error);
}

.border-accent {
	--border-color: var(--color-accent);
}

/* Border Styles */
.border-solid {
	--border-style: solid;
}

.border-dotted {
	--border-style: dotted;
}

.border-dashed {
	--border-style: dashed;
}

/* Border Widths */
.border-xs {
	--border-width: 1px;
}

.border-sm {
	--border-width: 2px;
}

.border-md {
	--border-width: 4px;
}

.border-lg {
	--border-width: 6px;
}

.border-xl {
	--border-width: 8px;
}


/* Border Radius */
.radius-sm {
	border-radius: var(--radius-sm);
}

.radius-md {
	border-radius: var(--radius-md);
}

.radius-lg {
	border-radius: var(--radius-lg);
}

.radius-none {
	border-radius: 0;
}

.radius-50 {
	border-radius: 50%;
}

.radius-full {
	border-radius: 9999px;
}


/* Margins */
.margin-4xs {
	margin: var(--space-4xs);
}

.margin-3xs {
	margin: var(--space-3xs);
}

.margin-2xs {
	margin: var(--space-2xs);
}

.margin-xs {
	margin: var(--space-xs);
}

.margin-sm {
	margin: var(--space-sm);
}

.margin-md {
	margin: var(--space-md);
}

.margin-lg {
	margin: var(--space-lg);
}

.margin-xl {
	margin: var(--space-xl);
}

.margin-2xl {
	margin: var(--space-2xl);
}

.margin-3xl {
	margin: var(--space-3xl);
}

.margin-4xl {
	margin: var(--space-4xl);
}


/* Padding */
.padding-4xs {
	padding: var(--space-4xs);
}

.padding-3xs {
	padding: var(--space-3xs);
}

.padding-2xs {
	padding: var(--space-2xs);
}

.padding-xs {
	padding: var(--space-xs);
}

.padding-sm {
	padding: var(--space-sm);
}

.padding-md {
	padding: var(--space-md);
}

.padding-lg {
	padding: var(--space-lg);
}

.padding-xl {
	padding: var(--space-xl);
}

.padding-2xl {
	padding: var(--space-2xl);
}

.padding-3xl {
	padding: var(--space-3xl);
}

.padding-4xl {
	padding: var(--space-4xl);
}

.padding-tb-4xs {
	padding-top: var(--space-4xs);
	padding-bottom: var(--space-4xs);
}

.padding-tb-3xs {
	padding-top: var(--space-3xs);
	padding-bottom: var(--space-3xs);
}

.padding-tb-2xs {
	padding-top: var(--space-2xs);
	padding-bottom: var(--space-2xs);
}

.padding-tb-xs {
	padding-top: var(--space-xs);
	padding-bottom: var(--space-xs);
}

.padding-tb-sm {
	padding-top: var(--space-sm);
	padding-bottom: var(--space-sm);
}

.padding-tb-md {
	padding-top: var(--space-md);
	padding-bottom: var(--space-md);
}

.padding-tb-lg {
	padding-top: var(--space-lg);
	padding-bottom: var(--space-lg);
}

.padding-tb-xl {
	padding-top: var(--space-xl);
	padding-bottom: var(--space-xl);
}

.padding-tb-2xl {
	padding-top: var(--space-2xl);
	padding-bottom: var(--space-2xl);
}

.padding-tb-3xl {
	padding-top: var(--space-3xl);
	padding-bottom: var(--space-3xl);
}

.padding-tb-4xl {
	padding-top: var(--space-4xl);
	padding-bottom: var(--space-4xl);
}

.padding-lr-4xs {
	padding-left: var(--space-4xs);
	padding-right: var(--space-4xs);
}

.padding-lr-3xs {
	padding-left: var(--space-3xs);
	padding-right: var(--space-3xs);
}

.padding-lr-2xs {
	padding-left: var(--space-2xs);
	padding-right: var(--space-2xs);
}

.padding-lr-xs {
	padding-left: var(--space-xs);
	padding-right: var(--space-xs);
}

.padding-lr-sm {
	padding-left: var(--space-sm);
	padding-right: var(--space-sm);
}

.padding-lr-md {
	padding-left: var(--space-md);
	padding-right: var(--space-md);
}

.padding-lr-lg {
	padding-left: var(--space-lg);
	padding-right: var(--space-lg);
}