@media (min-width: 1200px) {
	/* WRAPPER */
	.lg-wrapper {
		position: relative;
	  margin-inline: auto;
	  padding-inline: 1rem;
	  background: red;
	}
	
	/* STACK */
	.lg-stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: var(--gap, 1.5rem);
	}
	
	.lg-stack > * {
		margin-block: 0;
	}
	
	/* AUTO FLEX */
	.lg-auto-flex {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	/* STREAM */
	.lg-stream {
		--direction: row;
		--gap: 2rem;
		--item-width: 100%;
		--item-height: 100%;
		--item-align: start;
		--touch-action: auto;
		--item-events: auto;
		position: relative;
		display: flex;
		flex-direction: var(--direction);
		gap: var(--gap);
		height: 100%;
		touch-action: var(--touch-action);
	}
	
	.lg-stream > * {
		width: var(--item-width);
		height: var(--item-height);
		scroll-snap-align: var(--item-align);
		pointer-events: var(--item-events);
	}
	
	/* SIDEBAR */
	.lg-sidebar-first {
	  display: flex;
	  flex-wrap: wrap;
	  gap: var(--gap, 0.5rem);
	}
	
	.lg-sidebar-first > :first-child {
		flex-basis: 300px;
	  flex-grow: 1;
	}
	
	.lg-sidebar-first > :last-child {
	  flex-basis: 0;
	  flex-grow: 999;
	  min-inline-size: 50%;
	}
	
	.lg-sidebar-last {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: var(--gap, 0.5rem);
	}
	
	.lg-sidebar-last > :last-child {
		flex-basis: 300px;
		flex-grow: 1;
	}
	
	.lg-sidebar-last > :first-child {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 50%;
	}
	
	/* AUTO GRID */
	.lg-auto-grid {
		--item-min-size: 200px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--item-min-size), 1fr));
		gap: var(--gap, 0.5rem);
	}
	
	.lg-auto-grid > * {
		width: 100%;
	}
}