.auto-grid {
	/* Utilities: flow, scrollbar */
	/* Blocks:  */
	/* Exceptions: Scroll, State */
	--gap: ;
	--component-min-size: ;
	--component-placement: ;
	display: grid;
	grid-template-rows: ;
	grid-template-columns: ;
	grid-gap: var(--gap), 0.5rem;
}

.auto-group {
	/* Utilities: flow, scrollbar */
	/* Blocks:  */
	/* Exceptions: Scroll, State */
	display: flex;
	flex-wrap: wrap;
}

.card {
	/* Utilities: flow, scrollbar */
	/* Blocks:  */
	/* Exceptions: Scroll, State */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.stream {
	/* Utilities: flow, scrollbar */
	/* Blocks:  */
	/* Exceptions: Scroll, State */
	--scroll-item-width: ;
	display: flex;
	
}