/* Final CSS Page */
@import url("rebirth.css"); /* RESET for uniformity */
@import url("compositions.css"); /* STRUCTURES */
@import url("utilities/utilities.css"); /* ATOMIC Styles */
@import url("blocks.css"); /* UNIQUE components */
@import url("exceptions.css"); /* DATA driven classes */
@import url("winged.css"); /* ANIMATIONS */


/* --- START OF UNIQUE STYLING FOR PROJECT (RESPONSIVE FIRST) --- */
/* --- FONT IMPORTS --- */

@font-face {
	src: url("../fonts/Lato-Regular.ttf");
	font-family: Lato-Regular;
}

@font-face {
	src: url("../fonts/Lato-Bold.ttf");
	font-family: Lato-Bold;
}

/*:root {
	font: 18px/1 "Nunito-Regular", sans-serif;
}*/


/* CONTROL CENTER */

:root {
	/* COLORS */
	--color-system-success: #4CE19A;
	--color-system-warning: yellow;
	--color-system-urgent: red;
	--color-system-attention: orange;
	--color-system-notification: blue;

	--color-main-black: #131316;
	--color-main-white: #FFFFFF;
	--color-main-gray: #434347;
	--color-main-primary: #177EFE;
	--color-main-secondary: #FFD700;
	--color-main-tertiary: #D5A224;
	--color-main-quaternary: #F5F872;

	--gradient-main: to bottom right, #FFD700, #177EFE, #131316;
	--gradient-blue: to bottom right, #131316, #177EFE, #131316;
	--gradient-yellows: to bottom right, #D5A224, #FFD700;
	
	/* RADIUS */
	--radius: 0.25em;
	--radius-sm: calc(var(--radius)/2);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius)*2);
	
	/* SHADOWS */
	--shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),
				0 1px 2px rgba(0, 0, 0, 0.12);
	--shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
				0 0.9px 1.5px rgba(0, 0, 0, 0.05),
				0 3.5px 6px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
				0 3.1px 5.5px rgba(0, 0, 0, 0.08),
				0 14px 25px rgba(0, 0, 0, 0.12);
	--shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
				0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
				0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
				0 30px 42px -1px rgba(0, 0, 0, 0.15);
	--shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012),
				0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035),
				0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07),
				0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117),
				0 46px 60px -6px rgba(0, 0, 0, 0.2);

	/* FONTS */
	--font-primary: "Lato-Regular", sans-serif;
	--font-secondary: "Lato-Bold", sans-serif;

	--text-base-size: 1em;
	--text-scale: 1.2;

	--text-xs: calc((var(--text-base-size) / var(--text-scale)) / var(--text-scale));
	--text-sm: calc(var(--text-xs) * var(--text-scale));
	--text-md: calc(var(--text-sm) * var(--text-scale) * var(--text-scale));
	--text-lg: calc(var(--text-md) * var(--text-scale));
	--text-xl: calc(var(--text-lg) * var(--text-scale));
	--text-xxl: calc(var(--text-xl) * var(--text-scale));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale));

	/* SPACING */
	--spacing: 1em;

	--space-xxxxs: calc(0.125 * var(--spacing)); 
	--space-xxxs:  calc(0.25 * var(--spacing));
	--space-xxs:   calc(0.375 * var(--spacing));
	--space-xs:    calc(0.5 * var(--spacing));
	--space-sm:    calc(0.75 * var(--spacing));
	--space-md:    calc(1.25 * var(--spacing));
	--space-lg:    calc(2 * var(--spacing));
	--space-xl:    calc(3.25 * var(--spacing));
	--space-xxl:   calc(5.25 * var(--spacing));
	--space-xxxl:  calc(8.5 * var(--spacing));
	--space-xxxxl: calc(13.75 * var(--spacing));
	
	/* TRANSITIONS */
	--trans-time: all 0.25s ease-in-out;
}


/* CUSTOM STYLES */
/* General */
body {
	font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
}

button, .mock_button {
	background: var(--color-main-white);
	color: var(--color-main-black);
	border: none;
	border-radius: var(--radius-md);
	padding: var(--space-sm);
	transition: 0.5s;
}

button:hover, button:focus, .mock_button:hover, .mock_button:focus, [data-button-state="active"] {
	background: var(--color-main-gray);
	color: var(--color-main-white);
}

ul {
	list-style: none;
}

.icon {
	height: 30px;
}

.footer-icon {
	height: 20px;
}

nav {
	top: 0;
	z-index: 1000;
}

.nav-logo_plate {
	max-height: 45px;
}

.nav-logo {
	height: 20px;
}

.nav-menu_toggle-icon {
	height: 20px;
	transition: 0.5s;
}

.rotate {
	transform: rotate(90deg);
}

.nav-menu_list {
	position: absolute;
	top: 80%;
	right: 50%;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	width: 90%;
	border: var(--color-main-gray) 2px solid;
	z-index: 1000;
	opacity: 0;
	transition: 0.5s;
}

.nav-menu_list.active {
	top: 100%;
	opacity: 1;
}

.nav-menu_list a {
	color: var(--color-main-white);
}

.nav-menu_list-arrow {
	transition: 0.5s;
}

.nav-menu_list-arrow:hover, .nav-menu_list-arrow:focus {
	padding-left: 10px;
}

.hero-image {
	width: 80%;
}

.process_container {
	position: relative;
	z-index: 1;
}

.process_container, .process_image {
	width: 100%;
}

.section-wrapper {
}

.section-container {
	border: var(--color-main-gray) solid 2px;
	border-radius: var(--radius-md);
	padding: 2rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	border-radius: var(--radius-md);
}

.flyby .section-wrapper {
	background: linear-gradient(var(--gradient-blue));
}

form label {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 100%;
	margin-bottom: 1rem;
}

form input, form textarea {
	width: 100%;
	max-width: 320px;
	padding: 0.25rem;
	border-radius: var(--radius-sm);
}

.form_squares {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

.form_square, .form_square-select {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
	max-width: 300px;
	max-height: 300px;
	padding: var(--space-md);
	border: 2px solid var(--color-main-gray);
	border-radius: var(--radius-md);
	font-weight: bold;
	transition: 0.5s;
}

.form_square:hover, .form_square-select:hover {
	background: var(--color-main-gray);
}

.form_square-active, .form_square-active:hover {
	/*background: var(--color-main-primary);*/
	background: linear-gradient(to bottom right, #D5A224 0, #FFD700 70%, #F5F872);
}

.form_square img {
	height: 95%;
	width: 95%;
	border-radius: var(--radius-md);
}

.color_box {
	height: 40px;
	width: 40px;
	border-radius: var(--radius);
}

.demo {
	margin-top: 2rem;
	padding: 2rem;
	padding: var(--space-md);
	/*background: var(--color-main-gray);*/
	border-radius: var(--radius);
}

.demo-card {
	/*background: var(--color-white);
	color: var(--color-black);*/
}

.demo-pill {
	background: var(--color-s);
	color: var(--color-black);
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--color-black);
	transition: 0.5s;
}

.demo-pill:hover {
	background: var(--color-t);
	color: var(--color-black);
	border: 1px solid var(--color-black);
}

.demo-pill_des {
	pointer-events: none;
}

.demo-button {
	background: var(--color-black);
	color: var(--color-white);
}

.demo-button:hover {
	background: var(--color-p);
}

.demo-image {
	height: 200px;
	width: 100%;
}

.demo-card {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	border: 2px solid transparent;
	margin: 0.5rem;
}

.message {
	width: 100%;
}

.page-home, .page-gold, .page-about, .page-fly, .page-blog {
	background: var(--color-main-black);
}

.gold_hero {
	background: url("../assets/gold-hero_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.gold_hero h1, .text-gradient {
	/*font-size: 72px;*/
	display: inline;
	background: -webkit-linear-gradient(45deg, #D5A224 0, #FFD700 70%, #F5F872);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-section > * {
	margin-bottom: 1rem;
}

.form_navigation > * {
	margin-right: 1rem;
}

.form-card {
	background: var(--color-main-white);
	color: var(--color-main-black);
	border: var(--color-main-gray) 2px solid;
	border-radius: var(--radius-md);
	padding: var(--space-md);
	transition: 0.5s;
}

.form-card:hover, .form-card:focus {
	background: var(--color-main-gray);
	color: var(--color-main-white);
}

.fam-dm_sans {
	font-family: 'DM Sans', sans-serif;
}

.fam-dm_serif {
	font-family: 'DM Serif Display', serif;
}

.fam-gelasio {
	font-family: 'Gelasio', serif;
}

.fam-lora {
	font-family: 'Lora', serif;
}

.fam-playfair {
	font-family: 'Playfair Display', serif;
}

.fam-quattro {
	font-family: 'Quattrocento', serif;
}

.fam-roboto_slab {
	font-family: 'Roboto Slab', serif;
}

.fam-volkhov {
	font-family: 'Volkhov', serif;
}

.first-palette div:nth-child(1) {
	background: #FAF5F0;
}

.first-palette div:nth-child(2) {
	background: #2F232F;
}

.first-palette div:nth-child(3) {
	background: #D5BDAF;
}

.first-palette div:nth-child(4) {
	background: #EDEDE9;
}

.first-palette div:nth-child(5) {
	background: #D6CCC2;
}

/*SECOND*/
.second-palette div:nth-child(1) {
	background: #F8EDEB;
}

.second-palette div:nth-child(2) {
	background: #21242C;
}

.second-palette div:nth-child(3) {
	background: #FFD7BA;
}

.second-palette div:nth-child(4) {
	background: #D8E2DC;
}

.second-palette div:nth-child(5) {
	background: #FAE1DD;
}

/*THIRD*/
.third-palette div:nth-child(1) {
	background: #FFF1E6;
}

.third-palette div:nth-child(2) {
	background: #231C17;
}

.third-palette div:nth-child(3) {
	background: #DDBEA9;
}

.third-palette div:nth-child(4) {
	background: #B7B7A4;
}

.third-palette div:nth-child(5) {
	background: #EDDCD2;
}


/* MEDIA QUERIES FOR LARGER SCREENS */
/*Small devices (landscape phones and portrait tablets, 600px and up)*/
@media (min-width: 600px) {

}

/*Medium devices (tablets landscape, 900px and up)*/
@media (min-width: 900px) {
	:root {
		--text-base-size: 1.25em; /* 18px */
		--text-scale: 1.25;
	}
	
	.nav {
		/*position: fixed;*/
		background: transparent;
	}

	.nav-menu_list {
		position: absolute;
		top: 80%;
		right: 1%;
		transform: none;
		width: 30%;
		transition: 0.5s;
	}

	.section-wrapper {
		width: 90%;
		max-width: 1000px;
	}
	
	.section-wrapper-form {
		width: 90%;
	}

	.hero-image {
		width: 40%;
	}

	.cards {
		flex-direction: row;
	}

	.form-inputs {
		display: flex;
		flex-direction: row;
	}

	.form-cards {
		flex-direction: row;
	}

	.display_area {
		display: flex;
		gap: 3rem;
	}

	.demo {
		position: relative;
	}

	.demo-card {
		position: sticky;
		top: 20px;
		left: 0;
		max-width: 300px;
	}

	.footer {
		flex-direction: row;
	}
}

/*Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*X-Large devices (larger desktops, 1800px and up)*/
@media (min-width: 1800px) { ... }
